@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@450&display=swap');
body{
  margin:0;
  padding:0;
  background:#222;
  font-family:sans-serif;
  user-select:none;
  font-family:'Open Sans',sans-serif;
  color:#fff;
  scroll-behavior:smooth;
  box-sizing:border-box;
  font-weight:450;
  -webkit-tap-highlight-color:rgba(0,0,0,0.25);
}
h1,h2,h3,h4,h5,a{
  font-family:'Open Sans',sans-serif;

}
.main {
    font-size:0.8rem;
    background:url('https://images.unsplash.com/photo-1681823853101-9a0d7e8be47b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80') ;
    background-size:cover;
    height:100vh;
   background-repeat:no-repeat;
    transition: all 0.2s ease-out;
}
.container{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-around;
}
h1.title{
  color:rgb(255,255,255,8);
  font-size:2.7rem;
  font-family:sans-serif;
  padding:1rem 0;
  font-weight:400;
  text-shadow:0 0 3px rgb(0,0,0,0.2);
}
.searchbar{
  background:rgb(0,0,0,0.38);
  border:none;
  outline:none;
  backdrop-filter:blur(20px);
  padding: 0.68rem;
  width:80%;
  max-width:600px;
  font-size:1rem;
  color:white;
  border-radius:0.5rem;
  margin:1.5rem;
  text-align: center;
  
}

.input{
  background:rgb(0,0,0,0.38);
  border:none;
  outline:none;
  backdrop-filter:blur(20px);
  padding: 0.68rem;
  width:80%;
  max-width:600px;
  color:white;
  border-radius:0.5rem;
  margin:1.5rem;
  text-align: center;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.icon{
display:flex;
align-items:center;
}
.input input{
  background: transparent ;
  border:none;
  outline:none;
  color:white;
  text-align:center;
  font-size:1rem;
  color:white;
}
.icon.noshow{
  pointer-events:none;
  opacity:0;
}




form{
  width:100%;
  text-align:center;
  display:flex;
  justify-content: center;
}
input[type=text]::placeholder{
  color:#ccc;
}
.shortcuts{
  background:rgb(0,0,0,0.19);
  border-radius:0.5rem;
  padding:0.5rem 1.5rem;
  width:70%;
  backdrop-filter:blur(1px);
  overflow-x:hidden;
  max-width:580px;
  display:flex;
  align-items:center;
  justify-content:center;
  
}
.shortcuts-scroll{
  height:100%;
  overflow-x:scroll;
  display:flex;
}
.shortcuts-scroll::-webkit-scrollbar{
    display: none;
  }
.shortcut-container{
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
  background:rgb(0,0,0,0.26);
 /* backdrop-filter:blur(2px);*/
  border-radius:0.5rem;
  padding:0.4rem 1rem;
  color:white;
  height:4.25rem;
  align-items:center;
  font-size:1rem;
  margin:0.1rem 0.21rem;
  text-decoration:none !important;
-webkit-tap-highlight-color:rgba(0,0,0,0.5);
transition: transform 0.2s cubic-bezier(0.77, 0, 0.175, 1);
}
.shortcut-container:hover{
  transform:scale(0.94);
}
icon{
  background:white;
  color:#222;
  display:block;
  /*padding:0.45rem 0.73rem;*/
  padding:0.5rem;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
.icon-img{
  width:1.25rem;
  height:1.25rem;
  border-radius:50%;
}

.btn-pad{
  padding:0.45rem 0.73rem;
}
label{
  font-size:0.7rem;
  font-weight:300;
  color:#ccc;
  }
.hide{
  display: none !important;
}

/*popup screen*/
.container-center{
  width:100vw;
  height:80vh;
  position:fixed;
  top:0;
  background:rgb(0,0,0,0.0);
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:10;
  animation:slidedown 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.card{
  background:rgb(0,0,0,0.23);
  padding:0.5rem;
  color:white;
  border-radius: 0.5rem;
  width:80%;
  text-align:center;
  max-width:500px;
}
.btn-grid{
  display:flex;
  justify-content:space-around;
  margin-bottom:1.3rem;
}
.btn-sec,.btn-prim{
  border:none;
  outline:none;
  padding:0.7rem 0.7rem;
  background:rgb(0,0,0,0.5);
  backdrop-filter:blur(30px);
  color:white;
  border-radius:0.5rem;
  width:40%;
  transition: background 0.2s ease-in-out,transform 0.1s;
}


.btn-sec:hover,.btn-prim:hover{
  background:white;
  color:black;
}
.btn-sec:active,.btn-prim:active{
 transform: scale(0.8);
 
}


.btn-prim{
  background:rgba(112, 99, 174, 0.187);
}
.btn-sec{
  background:rgba(24, 25, 36, 0.6);
}

@keyframes slidedown{
  from{
    transform: translateY(-100%);
    opacity:0;
  }
  to{
    transform:translateY(0%);
    opacity:1;
  }
}
.nav{
  width:90%;
  display:flex;
  justify-content:space-between;
  padding:0.4rem;
}
a{
   text-decoration:none !important;
}
.weather{
  display:flex;
  justify-content:space-around;
  color:rgba(255,255,255);
  cursor:pointer;
}
.weather p{
  padding:0.25rem;
}
#config-menu-btn,.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgba(255,255,255);
}
#config-menu{
  color:white;
  backdrop-filter:blur(12px);
  background:rgba(0,0,0,0.25);
  height:100%;
  animation: slidedown 0.5s;
}
.config-top-nav{
 
  display:flex;
  justify-content:space-between;
  padding:1rem;
  margin-bottom:1.5rem;
  box-shadow:0 0 5px rgba(0,0,0,0.7325);
}
.config-title{
  font-size: 1rem;
}
.options{
  padding:1rem;
  height:70vh;
  overflow-y:scroll;
  
}
.option{
  
  display:flex;
  justify-content:space-around;
  align-items:center;
  padding:1.5rem ;
  border-bottom:0.5px solid #ccc;
}
.inp{
  width:10rem;
}
#bg-input{
  display:none;
}
.choice-btn{
  font-size:1rem;
  width:10rem;
  padding:0.5rem 0.5rem;
  background:rgba(0,0,0,0.38);
  color:#ccc;
  text-align:center;
  border-radius:0.5rem;
  backdrop-filter: blur(10px);
  border:none;
  cursor:pointer;
  transition:transform 0.2s;
}
.choice-btn:active{
  transform:scale(0.9);
}